services:
  # خدمة قاعدة البيانات (الجديدة)
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=camp_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432" # لكي تستطيع الوصول لها من pgAdmin إذا أردت

  web:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db # يشير لخدمة الـ db أعلاه
    depends_on:
      - db
      - redis

  celery:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    depends_on:
      - db
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: